header {
  height: 80px;
  font-size: xx-large;
  font-weight: 900;
  background-color: red;
  text-align: center;
}

#pic {
  height: 400px;
}

#screen {
  background-color: rosybrown;
  font-weight: 900;
}

p {
  font-weight: 900;
}

#one {
  background-color: rgb(113, 205, 90);
}